Repository Open-Data-Uganda/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx remark --quiet --frail, npx stylelint --quiet, npx eslint --quiet

Create hugo.yml
  .github/workflows/hugo.yml
Due: none

add contact page to menu
  hugo.toml
  themes/opu/assets/css/style.css
Due: npx stylelint --quiet

fix: image relative links
  content/blog/agriculture-data.md
  content/blog/agriculture-innovations.md
  content/blog/climate-data.md
  content/blog/data-revolution.md
  content/blog/digital-transformation.md
  content/blog/education-metrics.md
  content/blog/healthcare-analytics.md
  content/blog/manufacturing-sector.md
  content/blog/oil-gas-developments.md
  content/blog/post-1.md
  content/blog/post-2.md
  content/blog/post-3.md
  content/blog/tourism-growth.md
  data/team.yml
  themes/opu/layouts/_default/list.html
Due: npx remark --quiet --frail

fix: layout
  data/team.yml
  themes/opu/assets/css/style.css
  themes/opu/layouts/_default/about.html
Due: npx stylelint --quiet

ui
  themes/opu/assets/css/style.css
  themes/opu/layouts/_default/about.html
Due: npx stylelint --quiet

Path conditions:
  npx remark --quiet --frail: any of: *.md
  npx stylelint --quiet: any of: *.{css,scss}
  npx eslint --quiet: any of: *.js}
